*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    /* border: solid 2px black; */
}

body{
    background:azure;
    margin: auto;
    text-align: center;
}

.contenedor-home-instagram{
    position: relative;
    margin: auto;
    text-align: center;
    background-color: azure;
    width: 800px;
    height: 4000px;
}

.header-instagram{
    position: relative;
    text-align: center;
    margin-top: 5px;
    
}

.titulo-instagam{
    text-align: center;
}

.contenido-principal{
    padding-top: 10px;
    background: black;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    position: static;
    width: 95%;
    height: 95%;
    
}

.post-1{
    position: relative;
    background: white;
    margin: auto;
    width: 410px;
    height: 500px;
}
.header-post{
    margin: auto;
    padding-top: 5px;
    
    position: relative;
    margin-top: 10px;
    text-align: center;
    
    
}
.sin-contenido::after {
    content: "";
    clear: both;
    display: table;
    margin-top: 5px;
}

.username{
    
    float: left;
    font-size: 14px;
    margin-left: 7px;
}
.cantidad-de-fotos{
    
    font-size: 13px;

    float: right;
    margin-right: 7px;

}

.contenedor-imagen{
    
    margin: auto;
    position: relative;
    margin-top: 10px;
}
.imagen-post{
    position: relative;
    width: 400px;
    height: 400px;
}

.contenedor-parrafo{
    margin-top: 5px;
    
}

.descripcion-parrafo{
    font-size: 14px;
    text-align: center;
}

.post-2{
    margin: auto;
    position: relative;
    
    margin-top: 50px;
    background: white;
    
    width: 410px;
    height: 500px;
}

.verificado-png{
    float: left;
}